<?php
  $strHostName = "localhost";
  $strDbName = "info";
  // User which has the right to select on the database
  $strUserName = "";
  $strPassword = "";
  // User which has the right to create and drop the database
  $strAdminName = "";
  $strAdminPassword = "";

  $HCAPTCHA_SITEKEY = "";
  $HCAPTCHA_SECRET = "";
  $HCAPTCHA_VERIFY_URL = "https://hcaptcha.com/siteverify";


  $BASE_URL = "https://alasource.info";
  $VERSION = file_get_contents('version');
?>
