#table_id_filter{
  display:none;
}

#searchBox{
  background-color: white;
  display: inline-block;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

#reset{
  margin-left: 8px;
  border: #05445e;
  border-style: solid;
  color: #d4f1f4;
  background-color: #05445e;
  line-height: 1;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.paddingbot5px{
  padding-bottom: 5px;
}

.center25{
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.center15{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

#content{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.bg-light {
  background-color: white !important; 
}

.select_filter{
  display: block;
  width: 100%;
}

th{
  white-space: nowrap;
  text-align: center;
}

.center{
  text-align: center;
}

.hidden {
  display: none !important;
}


@media only screen and (min-width : 600px) {
  .center15{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  .center25{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
}
