#table_id_filter{
  display:none;
}

#searchBox{
  color: red;
  border-color:#f67e7d;
}

#searchBox::placeholder{
  color: #f67e7d;
}

#searchBar{
  margin-left: 25%;
  margin-right: 25%;
}

#content{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

p{
  margin-left: 2%;
  margin-right: 2%;
}

.bg-light {
  background-color: white !important; 
}
