#logo{
  margin-left: 15px;
}

#table_id_filter{
  display:none;
}

.navbar {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#searchBox{
  font-size: 25px;
  background-color: white;
  display: inline-block;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  margin-bottom: 0.5%;
}

.button-style{
  cursor:pointer;
  font-size: 25px;
  border: #05445e;
  border-style: solid;
  color: white;
  background-color: #05445e;
  line-height: 1;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.button-style:hover {
  color: white;
  background-color: #0b668b;
  border-color: #0b668b;
}

.form-check{
  margin-left: 1em;
}

table.dataTable thead .sorting{background-image:none !important}
table.dataTable thead .sorting_asc{background-image:none !important}
table.dataTable thead .sorting_desc{background-image:none !important}
table.dataTable thead .sorting_asc_disabled{background-image:none !important}
table.dataTable thead .sorting_desc_disabled{background-image:none !important}


.paddingBot-5{
  padding-bottom: 5px;
}

.center-20{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.center-15{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

#content{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

blockquote {
  font-size: 17px;
  min-height: 5em;
  padding   : 0.5em 4em;
  position  : relative;
  background-color: lightgoldenrodyellow;
  margin:0px;
}

blockquote::before,
blockquote::after {
  position: absolute;
  height  : 3rem;
  font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
}

blockquote::before {
  content: '“';
  top    : 0.3rem;
  left   : 0.5rem;
}

blockquote::after {
  content: '”';
  bottom : 0.3rem;
  right  : 0.5rem;
}

blockquote i {
  display   : block;
  font-size : 0.8em;
  text-align: right;
}

.bg-light {
  background-color: white !important; 
}

.select-filter{
  display: block;
  width: 100%;
}

.field_desc_full{
  display:inline;
}

th{
  white-space: nowrap;
  text-align: center;
}

.id_th{
  width:15px !important;
}

.small_th{
  width:125px !important;
}

.center{
  text-align: center;
}

.font-size-em0-7{
  font-size: 0.7em;
}

.hidden {
  display: none !important;
}

.deleteTables tbody {
  overflow: auto;
  display: block;
  height: 100px;
}

.deleteTables thead {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.deleteTableInformation tbody {
  height: 350px;
}

.row{
  margin-top : 10px;
  margin-bottom:  10px;
}

.select-200 {
  max-width: 200px;
}

.smallest_th{
  width:10px !important;
}

#button{
  display: inline;
}

@media only screen and (max-width: 1000px){
  #table_id{
    width: 1400px !important;
  }
  
  .description{
    font-size: 80px;
    width: 800px;
  }

  .star{
    width: 50px;
  }

  .center-15{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  .center-20{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  
  .font-small-screen{
    font-size: 50px;
  }

  #searchBox{
    display:block;
  }

  #button{
    margin-left: 5%;
    margin-right: 5%;
  }

  #searchBox, .button-style {
    font-size: 80px;
  }

  .font-size-em0-7{
    font-size: 50px;
  }
}